<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Spooky News</span>
</nav>

<div class="container articles">

{{#each articles}}
<div class="storyBody">
<h1><p>{{this.Summary}}</p></h1>
    
</div>


{{/each}}

</div>